# ---> Erlang
# Created by https://www.toptal.com/developers/gitignore/api/erlang
# Edit at https://www.toptal.com/developers/gitignore?templates=erlang

### Erlang ###
.eunit
*.o
*.beam
*.plt
erl_crash.dump
.concrete/DEV_MODE

# rebar 2.x
.rebar
rel/example_project
ebin/*.beam
deps

# rebar 3
.rebar3
_build/
_checkouts/

# End of https://www.toptal.com/developers/gitignore/api/erlang

# Created by https://www.toptal.com/developers/gitignore/api/commonlisp
# Edit at https://www.toptal.com/developers/gitignore?templates=commonlisp

### CommonLisp ###
*.FASL
*.fasl
*.lisp-temp
*.dfsl
*.pfsl
*.d64fsl
*.p64fsl
*.lx64fsl
*.lx32fsl
*.dx64fsl
*.dx32fsl
*.fx64fsl
*.fx32fsl
*.sx64fsl
*.sx32fsl
*.wx64fsl
*.wx32fsl

# End of https://www.toptal.com/developers/gitignore/api/commonlisp

# Created by https://www.toptal.com/developers/gitignore/api/emacs
# Edit at https://www.toptal.com/developers/gitignore?templates=emacs

### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive
ltximg/**

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data

.emacs.d/*.dat
.emacs.d/url*
.emacs.d/edts*

# End of https://www.toptal.com/developers/gitignore/api/emacs

.stumpwm.d/*.log*