# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:

	name = Nalin Ranjan
	email = ranjanified@gmail.com
[url "git://github.com/ghc/packages-"]
	insteadOf = git://github.com/ghc/packages/
[url "http://github.com/ghc/packages-"]
	insteadOf = http://github.com/ghc/packages/
[url "https://github.com/ghc/packages-"]
	insteadOf = https://github.com/ghc/packages/
[url "ssh://git@github.com/ghc/packages-"]
	insteadOf = ssh://git@github.com/ghc/packages/
[url "git@github.com:ghc/packages-"]
	insteadOf = git@github.com:ghc/packages/
